<div id="alert" class="ng-hide">
  <div class="overlay"></div>
  <div class="msg-box">
    <img ng-src="{{image}}" />
    <div class="title">{{title}}</div>
    <div class="message" ng-bind-html="message"></div>
    <div class="footer" ng-switch="state">
      <a href="#" class="button" onclick="return false"
         ng-switch-when="button"
         ng-click="onButtonClick()">{{buttonLabel}}</a>
      <img src="img/loading.gif" ng-switch-when="loader" />
    </div>
  </div>
</div>