<div id="confirm-screen" ng-controller="ConfirmScreenController">

  <div class="container">
    <div class="header">
      <a href="http://record.sportsbetaffiliates.com.au/_ptqm7yxHajChJjIwNC_yVWNd7ZgqdRLk/1/betting/australian-rules/afl?CMP=POM|SBT|SOC">
        <img src="img/sb-logo.png" />
      </a>
      <img src="img/footyshow-logo.png" />
    </div>
    <div class="title-img">
      <img src="img/confirm-title.png"/>
    </div>
    <div class="avatars">
      <ul>
        <li ng-repeat="item in appModel.selections">
          <img ng-src="{{item.img}}" title="{{item.name}}"/>
        </li>
      </ul>
    </div>
    <div class="share-content table" ng-switch="appModel.fbPostComplete">
      <div class="share-cta table-cell middle" ng-switch-when="false">
        <p>Tell your mates by sharing your table to Facebook.</p>
        <a href="#" onclick="return false" ng-click="postToFacebook()">
          <img src="img/share-btn.png" />
        </a>
      </div>
      <div class="share-confirm table-cell middle" ng-switch-when="true">
        <p>Your mates have been notified.<br/>Good luck!</p>
      </div>
    </div>
    <div class="message">
      <p>You can replace your existing table with a new one between now and 12:00pm AEST on 17/09/14.</p>
      <p>This competition will be drawn at 10am AEST on 18/09/14.</p>
      <p>The winner will be contacted by phone and email.</p>
      <p permit></p>
    </div>
  </div>

</div>