<div class="form-container" ng-controller="EntryForm">

  <form name="entryForm" novalidate>

    <div class="form-head">
      <p>Fill in the form below to complete your entry.</p>
    </div>
    <div class="form-fields">
      <ul>
        <li class="field">
          <input name="input_first_name" type="text" placeholder="First Name"
                 required
                 placeholder-class="placeholder"
                 ng-model="appModel.firstName"
                 ng-pattern="/^[a-z-\u00C0-\u017F]{2,}$/i"/>
        </li>
        <li class="field">
          <input name="input_last_name" type="text" placeholder="Last Name"
                 required
                 placeholder-class="placeholder"
                 ng-model="appModel.lastName"
                 ng-pattern="/^[a-z-\u00C0-\u017F]{2,}$/i"/>
        </li>
        <li class="field">
          <input name="input_email" type="email" placeholder="Email"
                 required
                 placeholder-class="placeholder"
                 ng-pattern="/^[a-z0-9._-]+@[a-z0-9.-]+\.[a-z]{2,4}$/i"
                 ng-model="appModel.email" />
        </li>
        <li class="field">
          <select name="input_state" ng-model="appModel.state"
                  required
                  ng-options="state.value as state.name for state in appModel.states"></select>
        </li>
        <li class="field">
          <input name="input_phone" type="tel" placeholder="Landline or Mobile"
                 required
                 placeholder-class="placeholder"
                 ng-model="appModel.phone"
                 numeric-only
                 ng-pattern="/^0\d{9}$/"/>
        </li>
      </ul>
      <div class="like-gate left">
        <p>Don't miss the draw. Like our page!</p>
        <div class="fb-like"
             data-href="https://www.facebook.com/sportsbetcomau?rf=119062418113739"
             data-width="100" data-layout="button" data-action="like"
             data-show-faces="false" data-share="false"></div>
      </div>
      <div class="error">
        <p ng-bind="getFormError()"></p>
      </div>
    </div>
    <div class="form-footer table">
      <div class="table-cell middle">
        <div class="disclaimers">
          <ul>
            <li class="checkbox">
              <span id="checkbox_age" class="icon checkbox"
                    ng-model="ageAccept"
                    toggleclass="checked"></span>
              <p>I am of legal age (18+)</p>
            </li>
            <li class="checkbox">
              <span id="checkbox_terms" class="icon checkbox"
                    ng-model="termsAccept"
                    toggleclass="checked"></span>
              <p><a ng-href="{{termsUrl}}" ng-click="showTerms()"
                    target="_blank">I agree to the boring stuff (T&Cs)</a></p>
            </li>
            <li>
              <p>All fields are mandatory</p>
            </li>
          </ul>
        </div>
        <div class="submit">
          <a href="#" class="button" onclick="return false"
             ng-click="submitEntry()">ENTER THE DRAW</a>
        </div>
      </div>
    </div>

  </form>

</div>