<div id="landing-screen" ng-controller="LandingScreenController">
  <div class="container">
    <div class="header">
      <a href="http://record.sportsbetaffiliates.com.au/_ptqm7yxHajChJjIwNC_yVWNd7ZgqdRLk/1/betting/australian-rules/afl?CMP=POM|SBT|SOC">
        <img src="img/sb-logo.png"/>
      </a>
      <img src="img/footyshow-logo.png"/>
    </div>
    <div class="title-img"><img src="img/entry-title.png"/></div>
  </div>
  <div class="footer table">
    <div class="table-cell middle">
      <p>We're sharing the spoils with our Facebook fans.</p>
      <p>Enter the draw to win our table at The Footy Show’s night of
        nights!</p>
      <p>All you need to do is pick nine mates to join you.</p>
      <a href="#" class="enter-button" onclick="return false"
         ng-click="enterApp()"><img src="img/btn-facebook.png"/></a>
      <p permit></p>
    </div>
  </div>
</div>