<div id="selection-screen" ng-controller="SelectionScreenController">
  <div class="header" ng-switch="formIsVisible">
    <img src="img/selection-title.png" />
    <p ng-switch-when="false">Invite nine of your Facebook friends!</p>
    <p ng-switch-when="true">Complete your entry</p>
  </div>

  <div class="content center">

    <div id="selections">
      <div class="table">
        <div class="table-cell middle">
          <div class="selection-table">
            <div class="selection-table-inner">
              <div class="row">
                <div ng-click="clearSeat(0)" ng-class="{filled: seatTaken(0)}">
                  <img ng-src="{{getSeatImage(0)}}"/>
                  <div class="icon remove" ng-show="seatTaken(0)"></div>
                </div>
                <div ng-click="clearSeat(1)" ng-class="{filled: seatTaken(1)}">
                  <img ng-src="{{getSeatImage(1)}}"/>
                  <div class="icon remove" ng-show="seatTaken(1)"></div>
                </div>
                <div ng-click="clearSeat(2)" ng-class="{filled: seatTaken(2)}">
                  <img ng-src="{{getSeatImage(2)}}"/>
                  <div class="icon remove" ng-show="seatTaken(2)"></div>
                </div>
                <div ng-click="clearSeat(3)" ng-class="{filled: seatTaken(3)}">
                  <img ng-src="{{getSeatImage(3)}}"/>
                  <div class="icon remove" ng-show="seatTaken(3)"></div>
                </div>
              </div>
              <div class="row">
                <div>
                  <img ng-src="{{getSeatImage(4)}}"/>
                </div>
                <div class="center-img">
                  <a href="http://record.sportsbetaffiliates.com.au/_ptqm7yxHajChJjIwNC_yVWNd7ZgqdRLk/1/betting/australian-rules/afl?CMP=POM|SBT|SOC">
                    <img src="img/table.jpg" />
                  </a>
                </div>
                <div ng-click="clearSeat(5)" ng-class="{filled: seatTaken(5)}">
                  <img ng-src="{{getSeatImage(5)}}"/>
                  <div class="icon remove" ng-show="seatTaken(5)"></div>
                </div>
              </div>
              <div class="row">
                <div ng-click="clearSeat(6)" ng-class="{filled: seatTaken(6)}">
                  <img ng-src="{{getSeatImage(6)}}"/>
                  <div class="icon remove" ng-show="seatTaken(6)"></div>
                </div>
                <div ng-click="clearSeat(7)" ng-class="{filled: seatTaken(7)}">
                  <img ng-src="{{getSeatImage(7)}}"/>
                  <div class="icon remove" ng-show="seatTaken(7)"></div>
                </div>
                <div ng-click="clearSeat(8)" ng-class="{filled: seatTaken(8)}">
                  <img ng-src="{{getSeatImage(8)}}"/>
                  <div class="icon remove" ng-show="seatTaken(8)"></div>
                </div>
                <div ng-click="clearSeat(9)" ng-class="{filled: seatTaken(9)}">
                  <img ng-src="{{getSeatImage(9)}}"/>
                  <div class="icon remove" ng-show="seatTaken(9)"></div>
                </div>
              </div>
            </div>
          </div>

          <a href="#" onclick="return false;" class="button"
             ng-class="{disabled: !tableIsFull()}"
             ng-show="!formIsVisible"
             ng-click="showEntryForm($event)">CONTINUE</a>

        </div>
      </div>
    </div>

    <div class="lower-content">

      <div class="center-bar" ng-show="!formIsVisible"
           ng-switch="tableIsFull()">
        <p ng-switch-when="false">Invite nine of your Facebook friends!</p>
        <div ng-switch-when="true" class="continue">
          <a href="#" onclick="return false;" class="button"
             ng-click="showEntryForm($event)">CONTINUE</a>
        </div>
      </div>

      <div id="friends" ng-show="!formIsVisible">
        <div class="search-box">
          <div class="field-container">
            <input id="search-input" type="text" ng-model="friendFilter"
                   placeholder="Find friends" />
            <div class="icon search"></div>
            <div class="icon clear" ng-style="{opacity: (friendFilter.length > 0 ? 1 : 0)}"
                 ng-click="clearFilter()"></div>
          </div>
        </div>
        <div class="friend-list">
          <ul class="table">
            <li class="friend-item table-row" ng-repeat="friend in filteredFriends"
                ng-click="toggleFriend(friend)" ng-class="{selected: isFriendSelected(friend.id)}">
              <div>
                <div class="icon radio" ng-class="{selected: isFriendSelected(friend.id)}"></div>
              </div>
              <div class="avatar left"><img ng-src="{{friend.picture.data.url}}" /></div>
              <div class="name left">{{friend.name}}</div>
            </li>
          </ul>
        </div>
      </div>

      <div id="entry-form"
           ng-cloak
           ng-show="formIsVisible"
           ng-include="'html/entryForm.html'"></div>

    </div>

  </div>
</div>