// ------------------------- ALERT WINDOW STYLES ---------------------------- //

#alert {
  position   : absolute;
  width      : 100%;
  height     : 100%;
  top        : 0;
  left       : 0;

  text-align : center;

  .overlay {
    position         : absolute;
    width            : 100%;
    height           : 100%;

    background-color : rgba(255, 255, 255, 0.3);
  }

  .msg-box {
    position         : relative;
    display          : inline-block;
    width            : 303px;
    height           : 191px;
    top              : 85px;

    margin           : auto;
    padding          : 20px;

    background-color : #001B3A;

    & > img {
      display       : none;
      width         : 115px;
      margin-bottom : 11px;
    }

    &.img {
      height : 338px;
      .message {
        width : 175px;
      }

      img {
        display : inline;
      }
    }
  }
}

.close {
  position : absolute;
  top      : 10px;
  left     : 10px;

  cursor   : pointer;
}

.title {
  font-size     : 25px;
  margin-bottom : 12px;
  line-height   : 27px;
  cursor        : default;
}

.message {
  font-size : 14px;
  margin    : auto;
  cursor    : default;
}

.footer {
  position : absolute;
  width    : 100%;
  height   : 40px;
  left     : 0;
  bottom   : 15px;
}

.button {
  width  : 281px;
  height : 40px;
}

// Break points:
@media screen and (min-width : 970px) {

  #alert {

    .msg-box {
      width  : 362px;
      height : 196px;

      &.img {
        width  : 597px;
        height : 320px;

        .message {
          width : auto;
        }
      }
    }
  }
}
