// --------------------------- CONFIRMATION PAGE  --------------------------- //

#confirm-screen {

  .container {
    width            : 100%;
    height           : 100%;

    padding-bottom   : 5px;
    background-image : url(../img/curtains-small.jpg);
  }

  .header {
    height : 80px;

    img {
      width          : 32%;
      max-width      : 140px;
      vertical-align : bottom;
    }

    a img {
      width     : 41%;
      max-width : 152px;
    }
  }

  .title-img {
    position : relative;
    margin   : auto;
    padding  : 3px 0;

    img {
      width   : 90%;
      display : block;
      margin  : auto;
    }
  }

  .avatars {
    width  : 320px;
    margin : auto auto 7px auto;

    li {
      display   : inline-block;
      padding   : 5px;
      font-size : 0;

      img {
        width  : 50px;
        height : 50px;
      }
    }
  }

  .share-content {
    height      : 95px;
    margin      : auto auto 5px auto;
    padding     : 0 40px;

    line-height : 20px;

    > * > * {
      width : 250px;
    }
  }

  .share-cta {

    p {
      font-size     : 18px;
      margin-bottom : 10px;
    }

  }

  .message {
    margin : 0 20px 0 20px;

    p {
      font-size     : 12px;
      margin-bottom : 0px;
      line-height   : 15px;

      &:nth-child(2) {
        width : 185px;
      }
    }
  }

  .permit {
    margin-top : 5px;

    p {
      font-size     : 10px;
      color         : #A0A0A0;
      margin-bottom : 0px;
    }
  }

  .footer {
    position : relative;
    width    : 100%;
    height   : 152px;
    bottom   : 0;
  }

}

// break-points:
@media screen and (min-width : 449px ) {
  #confirm-screen {
    .title-img {
      padding : 20px 0;
      img {
        width : auto;
      }
    }

    .message {
      p {
        font-size     : 14px;
        margin-bottom : 0;

        &:nth-child(2) {
          width : auto;
        }
      }

      .permit {
        margin-top : 10px;

        p {
          font-size     : 10px;
          color         : #A0A0A0;
          margin-bottom : 0px;
        }
      }
    }

    .footer {
      .bg {
        background-position : center;
      }
    }
  }
}

// center background when wider than image width:
@media screen and (min-width : 564px) {
  #confirm-screen {
    .promo {
      .cta {
        background : transparent;
        filter     : none;
      }
    }

    .container {
      background-image : url(../img/curtains-large.jpg);
    }
  }
}

@media screen and (min-width : 970px) {
  #confirm-screen {
    .title-img {
      padding : 52px 0 30px 0;
    }

    .container {
      height : 570px;
    }

    .avatars, .share-content {
      width : auto;
      > * > * {
        width : auto;
      }
    }

    .avatars {
      margin-bottom : 50px;
    }
    .share-content {
      margin-bottom : 30px;
    }

    .share-cta p {
      margin-bottom : 20px;
    }

    .message p {
      line-height : normal;
    }

  }
}
