// ------------------------------ ENTRY FORM  ------------------------------- //

@bluetext: #001B3B;
@redtext: #FF0000;

#entry-form {
  position         : relative;
  width            : 100%;
  padding-top      : 20px;
  background-color : #FFFFFF;

  p {
    color       : @bluetext;
    font-size   : 12px;
    font-weight : @normal;
    line-height : 15px;
  }

  .form-container {
    position  : relative;
    max-width : @maxContentWidth;
    margin    : auto;
  }

  form > * {
    padding : 0 12px;
  }

  .form-head p {
    margin-bottom : 20px;
  }

  .form-fields {
    text-align : left;

    input, select {
      width         : 100%;
      height        : 29px;
      border        : 2px solid #E6E6E6;
      margin-bottom : 6px;

      text-indent   : 7px;
      font-size     : 12px;
      color         : #808080;
      line-height   : 12px;
      .rounded(5px);

      // only show error border if invalid *AND* changed
      &.ng-invalid:not(.ng-pristine), &.ng-required-invalid:not(.ng-pristine) {
        border : 1px solid #FF0000;
      }
    }

    select {
      .rounded(1px);
      text-indent : 0;
    }
  }

  .form-footer {
    width            : 100%;
    height           : 143px;
    background-color : @lightblue;

    li {
      & > * {
        display : inline-block;
      }

      &:last-child p {
        color : @yellowText;
      }
    }

    .checkbox {
      margin-right : 3px;
    }

    p {
      position : relative;
      bottom   : 1px;
      color    : #FFFFFF;
    }
  }

  .like-gate {
    margin-top : 3px;
    //min-height : 30px;

    & > * {
      position : relative;
      width    : auto !important;
      display  : inline-block !important;
    }

    p {
      font-size : 11px;
    }

    .fb-like {
      min-height : 20px;
      top        : 3px;
      left       : 4px;
    }
  }

  .error {
    p {
      min-height    : 35px;
      margin-bottom : 0;

      font-size     : 11px;
      color         : #FF0000;
    }
  }

  .disclaimers {
    margin-bottom : 0px;

    a {
      text-decoration : underline;
    }
  }

  .button {
    padding     : 7px 12px;
    font-size   : 16px;
  }

}

// break-points:
@media screen and (min-width : 970px) {

  #entry-form {
    display    : inline-block;
    position   : relative;
    left       : 9px;
    max-width  : @maxContentWidth;
    max-height : 451px !important;
    height     : auto !important;
    overflow-y : visible;
  }

}

@media screen and (max-height : 320px) {

  #entry-form {
    height : auto !important;
  }
}

