// ----------------------------- LANDING PAGE  ------------------------------ //

#landing-screen {

  .container {
    width            : 100%;
    height           : 100%;

    background-image : url(../img/curtains-small.jpg);
  }

  .header {
    height : 84px;

    img {
      vertical-align : bottom;

      width          : 32%;
      max-width      : 140px;
    }

    a img {
      width     : 41%;
      max-width : 152px;
    }
  }
  .title-img {
    position : relative;
    margin   : auto;
    padding  : 0 0 20px 0;

    img {
      width   : 96%;
      display : block;
      margin  : auto;
    }
  }
  .footer {
    position         : relative;
    width            : 100%;
    height           : 170px;
    background-color : @darkblue;

    .table-cell {
      padding : 10px 8px;
      height  : 100%;
    }

    p {
      font-size     : 14px;
      line-height   : 18px;
      color         : #FFFFFF;
      margin-bottom : 8px;

      &:first-child {
        margin-bottom : 0;
      }

      &:nth-child(2) {
        width : 75%;
      }
      &:nth-child(3) {
        width : 60%;
      }
    }
  }
  .enter-button {
    position : relative;
    display  : inline-block;
    margin   : 0;

    cursor   : pointer;

    &.disabled {
      cursor : not-allowed;
    }
  }
  .permit p {
    font-size     : 10px !important;
    color         : #A0A0A0 !important;
    margin-bottom : -5px !important;
  }
}

// break-points:
@media screen and (min-width : 449px ) {
  #landing-screen {
    .title-img {
      padding : 20px 0 30px 0;
      img {
        width : auto;
      }
    }
    .footer {
      .table-cell {
        padding : 20px 10px;
      }

      p {
        margin-bottom : 10px;

        &:nth-child(2) {
          width : auto;
        }
      }
    }
    .button {
      margin : 10px 0;
    }
  }
}

@media screen and (min-width : 700px) {
  #landing-screen {
    .container {
      background-image : url(../img/curtains-large.jpg);
    }
  }
}
