// ---------------------------- SELECTION PAGE  ----------------------------- //

#selection-screen {
  background-color : #001B3A;

  .header {
    background-color : @darkblue;
    padding          : 8px 10px 0px 10px;

    img {
      width     : 100%;
      max-width : 503px;
    }

    p {
      display    : none;
      margin-top : 6px;
      font-size  : 22px;
    }
  }

  .content {
    position  : relative;
    width     : 100%;
    max-width : 970px;
    margin    : auto;

    & > * {
      display        : block;
      vertical-align : top;
    }
  }
}

#selections {
  margin : auto auto 10px auto;

  & > .table {
    margin : auto;
  }

  .selection-table {
    margin : auto;
  }

  .selection-table-inner {
    width : 100%;

    .row {
      height    : 70px;
      font-size : 0;

      & > * {
        display        : inline-block;
        position       : relative;
        width          : 52px;
        height         : 52px;
        padding        : 8px 8px;

        vertical-align : middle;

        &.filled {
          cursor : pointer;
        }

        &.center-img {
          width  : 210px;
          height : 100%;
        }

        img {
          width : 100%;
        }

        &:last-child {
          margin-right : 0;
        }
      }

      &:first-child, &:last-child {
        height : 52px;
      }

      &:nth-child(2) > *:first-child {
        cursor : default;
      }
    }
  }

  .remove {
    position : absolute;
    top      : -5px;
    left     : -5px;

    cursor   : pointer;
  }

  .button {
    display  : none;
    position : absolute;
    bottom   : 10px;
    left     : 64px;
  }

}

.lower-content {
  position : relative;
  width    : 100%;
  margin   : auto;

  & > * {
    position : relative;
    width    : 100%;
  }
}

.center-bar {
  height      : 45px;
  line-height : 41px;

  .button {
    height      : 35px;
    padding-top : 2px;
    top         : 2px;
  }
}

#friends {
  background-color : #FFFFFF;

  .search-box {
    width         : 100%;
    border-bottom : 1px solid #E6E6E6;

    .field-container {
      position         : relative;
      background-color : #FFFFFF;
    }

    input[type='text'] {
      width       : 80%;
      height      : 52px;
      border      : none;

      font-family : 'Roboto', sans-serif;
      font-weight : @normal;
      font-size   : 13px;
      color       : #B3B3B3;
    }
    .icon.search {
      position : absolute;
      left     : 10px;
      top      : 20px;
    }
    .icon.clear {
      position : absolute;
      right    : 10px;
      top      : 17px;

      .transitionProperty(opacity, 150ms, ease-out);
      cursor   : pointer;
    }
  }

  .friend-list {
    width            : 100%;
    border           : 0 #C0C0C0 solid;
    border-top-width : 1px;

    ul {
      position : relative;;
      width    : 100%;
      height   : auto;
      margin   : 0;
      padding  : 0;

      li {
        width         : 100%;
        list-style    : none;
        margin        : 0;
        border-bottom : 1px solid #C0C0C0;

        font-size     : 13px;
        color         : #001B3B;
        cursor        : pointer;

        & > * {
          .table-cell();
          .middle();
        }
      }
    }
  }

  .friend-item {

    & > *:first-child {
      width : 50px;
    }

    .radio {
      margin : auto;
    }
    .avatar {
      width     : 65px;
      height    : 50px;
      font-size : 0;

      img {
        height : 100%;
      }
    }
    .name {
      color     : #4D4D4D;
      font-size : 13px;
    }

    &.selected {
      background-color : #FCD900;
    }
  }
}

// break-points:

// iPhone 4:
@media screen and (max-height : 320px) {

  #selection-screen {
    .friend-list {
      height : auto !important;
    }
  }
}

// Allow full scroll on landscape:
@media screen and (min-width : @maxContentWidth) and (max-height : 568px) {

  #selection-screen {
    .lower-content, .friend-list, #entry-form {
      position : relative;
      height   : auto !important;
    }
  }
}

@media screen and (min-width : 480px) {

  #selection-screen {
    .selection-table {

      .selection-table-inner {

        .row {
          height : 86px;

          & > * {
            width  : 68px;
            height : 68px;

            &.center-img {
              width  : 273px;
              height : 100%;
            }
          }

          &:first-child, &:last-child {
            height : 68px;
          }
        }
      }
    }
  }
}

// desktop:
@media screen and (min-width : 970px) {

  #selection-screen {
    .header {
      height           : 145px;
      padding-top      : 20px;
      background-color : @lightblue;

      p {
        display : block;
      }
    }

    .center-bar {
      display : none;
    }

    .lower-content {
      display    : inline;
      height     : auto !important;
      max-height : 412px;
      overflow-y : inherit;
    }
  }

  #selections, #friends {
    float  : right;
    width  : @maxContentWidth;
    margin : 0 18px;

    &:last-child {
      margin-right : 30px;
    }
  }

  #selections {
    height : 386px;

    .button {
      display : block;
    }
  }

  #friends {
    .friend-list {
      height                     : 388px;
      min-height                 : 388px;
      max-height                 : 388px;
      border-width               : 1px;

      overflow-y                 : scroll;
      -webkit-overflow-scrolling : touch;
    }
  }
}
