html {
  font-size: 62.5%;
}
html,
body {
  font-family: Verdana, sans-serif;
  font-size: 13px;
}
h3 {
  margin: 0 0 5px 0;
  color: darkblue;
}
.hidden {
  display: none !important;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #CCC;
  color: #000;
  padding: 0.2em 0;
}
.table {
  display: table;
  position: relative;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #CCC;
  padding: 10px;
  margin-bottom: 10px;
}
.table > div {
  display: table-row;
}
.table > div > span {
  display: table-cell;
  color: #333;
}
.table > div > span:last-child {
  width: 40%;
  text-align: right;
  font-weight: bold;
  color: #000;
}
.table button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}
.table button:last-child {
  margin: 0;
}
#like-btn span {
  overflow: hidden;
}
#user span:last-child {
  color: green;
}
.table-cell {
  display: table-cell;
}
.middle {
  vertical-align: middle;
}
.center {
  text-align: center;
}
#friend-list {
  padding: 0;
  height: 300px;
  overflow: auto;
}
#friend-list li {
  display: table;
  list-style-type: none;
  margin-bottom: 5px;
}
#friend-list li > * {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
#friend-list li img {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #666;
  margin-right: 10px;
  cursor: pointer;
}
#friend-list li img:hover,
#friend-list li img:active,
#friend-list li imgfocus,
#friend-list li img.selected {
  border-color: #CC0000;
}
