
html {
  font-size : 62.5%;
}

html, body {
  font-family : Verdana, sans-serif;
  font-size   : 13px;
}

h3 {
  margin : 0 0 5px 0;
  color  : darkblue;
}

.hidden {
  display : none !important;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
  margin     : 0.2em 0;
  background : #CCC;
  color      : #000;
  padding    : 0.2em 0;
}

.table {
  display       : table;
  position      : relative;
  width         : 250px;
  box-sizing    : border-box;
  border        : 1px solid #CCC;
  padding       : 10px;
  margin-bottom : 10px;

  & > div {
    display : table-row;

    & > span {
      display : table-cell;
      color   : #333;

      &:last-child {
        width       : 40%;
        text-align  : right;
        font-weight : bold;
        color       : #000;
      }
    }
  }

  button {
    display       : block;
    width         : 100%;
    margin-bottom : 10px;
    padding       : 10px;

    font-weight   : bold;
    font-size     : 12px;

    cursor        : pointer;

    &:last-child {
      margin : 0;
    }
  }
}

// hack to hide FB Like button dialog:
#like-btn span {
  overflow : hidden;
}

#user span:last-child {
  color : green;
}

.table-cell {
  display : table-cell;
}

.middle {
  vertical-align : middle;
}

.center {
  text-align : center;
}

.info {

}

.buttons {

}

#friend-list {
  padding  : 0;
  height   : 300px;
  overflow : auto;

  li {
    display         : table;
    list-style-type : none;
    margin-bottom   : 5px;

    & > * {
      display        : table-cell;
      height         : 100%;
      vertical-align : middle;
    }

    img {
      position     : relative;
      box-sizing   : border-box;
      border       : 1px solid #666;
      margin-right : 10px;

      cursor       : pointer;

      &:hover, &:active, &focus, &.selected {
        border-color : #CC0000;
      }
    }
  }
}