@import "lib/elements";
@import "lib/common";

// --------------------------- COMPETITION CLOSED ------------------------- //

html, body {
  width            : 100%;
  height           : 100%;
  background-color : @darkblue;
}

#main {
  position   : relative;
  width      : 100%;
  height     : 100%;
  min-width  : 320px;
  max-width  : 970px;
  margin     : auto;

  text-align : center;
}

#content, *[id$=screen] {
  position : relative;
  width    : 100%;
  height   : 100%;
}

h2 {
  font-weight : @normal;
  font-size   : 25px;
}

h3 {
  font-weight   : @normal;
  font-size     : 16px;
  margin-bottom : 20px;
}

#closed-screen {
  overflow-x : hidden;

  .container {
    width             : 100%;

    background-image  : url(../img/curtains-small.jpg);
    background-size   : 100%;
    background-repeat : repeat-x;
  }

  .header {
    height : 80px;

    img {
      width          : 32%;
      max-width      : 140px;
      vertical-align : bottom;
    }

    a img {
      width     : 41%;
      max-width : 152px;
    }
  }

  .title-img {
    position : relative;
    margin   : auto;
    padding  : 10px 0 15px 0;

    img {
      width   : 96%;
      display : block;
      margin  : auto;
    }
  }

  .curtains {
    position       : absolute;

    height         : 427px;
    top            : 0;
    left           : 50%;

    width          : 860px;
    margin-left    : -425px;

    pointer-events : none;

    img {
      position : absolute;

      &:first-child {
        left : 0;
      }
      &:last-child {
        right : 0;
      }
    }
  }
  .footer {
    position         : relative;
    width            : 100%;
    height           : 170px;
    background-color : @darkblue;

    .table-cell {
      padding : 10px 10px;
    }

    h2 {
      margin-bottom : 5px;
    }

    p {
      width         : 100%;
      color         : #FFFFFF;
      font-size     : 13px;
      margin-bottom : 0;

      &:nth-child(3) {
        width : 200px;
      }
    }
    .permit {
      margin-top : 8px;

      p {
        font-size : 10px;
        color     : #A0A0A0;
        // margin-bottom : -5px;
      }
    }
  }
  .button {
    width      : 280px;
    margin-top : 10px;
  }
}

// break-points:
@media screen and (min-width : 449px ) {
  #closed-screen {
    .title-img {
      padding : 20px 0 30px 0;
      img {
        width : auto;
      }
    }
    .footer {
      .table-cell {
        padding : 20px 10px;
      }

      p {
        font-size : inherit;

        &:nth-child(2) {
          width : auto;
        }
      }
    }
  }
}

@media screen and (min-width : 401px) {
  #closed-screen {
    .footer p:nth-child(3) {
      width : auto;
    }
    .curtains {
      width       : 970px;
      margin-left : -485px;
    }
  }
}

@media screen and (min-width : 700px) {
  #closed-screen {
    .container {
      background-image : url(../img/curtains-large.jpg);
    }
  }
}

