@import "lib/elements";
@import "lib/common";
@import "lib/icons";
@import "screens/alert";
@import "screens/landing";
@import "screens/selection";
@import "screens/entryForm";
@import "screens/confirm";

@darkblue: #001B3B;
@lightblue: #014895;
@yellowText: #FAD701;

@maxContentWidth: 440px;

html, body {
  width            : 100%;
  height           : 100%;
  background-color : @darkblue;
}

// -------------------------- BROWSEHAPPY MESSAGE --------------------------- //
.browsehappy {
  margin     : 0.2em 0;
  background : #CCC;
  color      : #000;
  padding    : 0.2em 0;
}

// -------------------------- FB LIKE BUTTON HACK --------------------------- //
// hide
.fb-like span {
  overflow : hidden;
}

// --------------------------- SHARED PAGE ELEMENTS ------------------------- //

#main {
  position   : relative;
  width      : 100%;
  height     : auto;
  min-width  : 320px;
  margin     : auto;

  text-align : center;
}

#content, *[id$=screen] {
  position : relative;
  width    : 100%;
  height   : 100%;
}

// Break points:
@media screen and (min-width : 970px) {

}

@media screen and (max-height : 320px) {

}
